// Главное семейство шрифтов
$ffmain: Montserrat-Regular;

//Главное семейство жирное начертание
$ffsemi: Montserrat-Semibold;

// Заглавный размер шрифта 
$fsbig: 36px;

// Основной размер шрифта 
$fsmain: 24px;

// Основной цвет
$cm: #708B7D;

//Дополнительный цвет
$ca: #3D4056;


// Мобильный заглавный размер шрифта
$fsbigm: 24px;

//Мобильный основной размер шрифта
$fsmainm: 14px; 